__pycache__
TCRpy.egg-info
test/test_files/out/*.pdb
test/test_files/out/*.cif
test/test_files/out/*.pse
test/test_files/out/*.csv
test/test_files/out/*.png
test/test_files/out/*/*.pdb
test/test_files/out/*/*.cif
test/test_files/out/*/*.pse
test/test_files/out/*/*.csv
test/test_files/out/*/*.png