__pycache__
stcrpy.egg-info
build
dist
docs/build
docs/source
examples/8gvb_BA*
examples/*.csv
test/test_files/out/*.pdb
test/test_files/out/*.cif
test/test_files/out/*.pse
test/test_files/out/*.csv
test/test_files/out/*.png
test/test_files/out/*/*.pdb
test/test_files/out/*/*.cif
test/test_files/out/*/*.pse
test/test_files/out/*/*.csv
test/test_files/out/*/*.png
test/test_files/TCRGraphDataset_test_files/processed
test/test_files/out/haddock/
