__pycache__
stcrpy.egg-info
build
dist
docs/build
docs/source
test/test_files/out/*.pdb
test/test_files/out/*.cif
test/test_files/out/*.pse
test/test_files/out/*.csv
test/test_files/out/*.png
test/test_files/out/*/*.pdb
test/test_files/out/*/*.cif
test/test_files/out/*/*.pse
test/test_files/out/*/*.csv
test/test_files/out/*/*.png
test/test_files/*.pdb
test/test_files/*.cif